@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #fff;
  background: #000;
}

.primary_button{
  background: #fff !important;
  color: #000 !important
}

.primary_button:hover{
  background: #f1f1f1 !important;
}

.primary_button:hover{
  background: #f1f1f1 !important;
}

.primary_button:disabled svg,
.primary_button[disabled] svg{
  stroke: #000;
}
