@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Press Start 2P';
  src: url('/assets/fonts/PressStart2P-Regular.ttf') format('truetype')
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html{
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=),
    auto;
}

body {
  color: #fff;
  background: #000;
  font-family: 'Inter' !important;
}

.press_start{
  font-family: "Press Start 2P", sans-serif;
}

.primary_button{
  background: #fff !important;
  color: #000 !important
}

.primary_button:hover{
  background: #f1f1f1 !important;
}

.primary_button:hover{
  background: #f1f1f1 !important;
}

.primary_button[data-loading]
{
    background: #000 !important;
    color: #fff !important;
      cursor: not-allowed;
}

.primary_button:disabled svg,
.primary_button[disabled] svg{
  stroke: #000;
}


.connect > div > button{
  background: transparent !important;
  border: 1px solid !important;
  border-radius: 20px !important;
  padding: 0 2rem !important;
  color: #000 !important
}

.connect > div > button > div {
  border: 0px !important;
  color: #000 !important;
  background: none !important;
}

.quantity_input input{
  background: transparent !important;
  border: 0px solid !important;
  color: #000 !important
}

.faq_item  button span{
  color: #fff !important

}


.summer_gradient {
  background: linear-gradient(180deg, #0052ff 0, #0052ff 20%, #54dce7 0, #54dce7 40%, #ff7dcb 0, #ff7dcb 60%, #735dff 0, #735dff 80%, #fcd22d 0, #fcd22d);
}

.page_bg_gradeint {
 background:  linear-gradient(180deg, #000 0, #000 5%, #ff7dcb 0, #ff7dcb 7.5%, #0052ff 0, #0052ff 10%, #fcd22d 0, #fcd22d 12.5%, #735dff 0, #735dff 15%, #ff7dcb 0, #ff7dcb 17.5%, #735dff 0, #735dff 20%, #54dce7 0, #54dce7 22.5%, #fcd22d 0, #fcd22d 32.5%, #735dff 0, #735dff 50%, #0052ff 0, #0052ff)
}
